#app {
  display: block;
  position: relative;
  aspect-ratio: 1/1;
  width: 100vw;
  background-size: cover;
  background-image: url('../assets/pink-pyramid.png');
}

piece {
  position: absolute;
  top: 0;
  left: 0;
  width: 12.5%;
  height: 12.5%;
  background-size: cover;
  z-index: 2;
  will-change: transform;
  pointer-events: none;
}
